body {
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    color: darkslategrey;
    margin: auto;
    background-color:rgb(250, 235, 215, .1);
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}
.app{
  margin: auto;
  width: 36%;
  border: 8px solid rgba(102, 51, 153, .1);
  border-radius: 20px;
  background-color:rgba(236, 224, 255, .1);
  box-shadow:  2px 20px 10px rgba(47, 79, 79, 0.6);
}
 #question-text{
  margin-bottom: 1px;
  font-size: clamp(1rem, 2vw, 2rem);
 }
 #grade-text{
  text-decoration:underline double;
  text-shadow: 1px 1px 1px rgba(255, 105, 180, 0.7);
 }
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  min-width: 0;
  align-items: center;
  background-color: rgb(02, 51, 153, .1);
  border: 4px solid rgb(127, 255, 212, .3);
  border-radius: 20px;
  max-width: 480px;
  width: 60%;
  height: 160px;
  margin-bottom: 15px;
  margin-top: 10px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);

}


button {
    width: 80px;
    margin: auto;
    margin-bottom: 10px;
    font-size: large;
    font-family: fantasy;
    background-color: rgb(127, 255, 212, .3);
    border: 4px solid rgb(102, 51, 153, .3);
    border-radius: 20px;
}

button:hover{
    background-color: rgb(240, 255, 255, .6);
}
#reset-btn{
  margin-bottom: 20px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .0}
  to {opacity: 1}
}