body {
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color:rgba(236, 224, 255, 0.5);
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid black;
  width: 60%;
  margin-bottom: 10px;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

p {
  text-shadow: 2px 2px 6px rgb(127, 255, 212, .5);
}

button {
    width: 20%;
    margin: auto;
    margin-bottom: 6px;
    background-color: rgb(127, 255, 212, .3);
    border: 4px solid rgb(102, 51, 153, .3);
    border-radius: 20px;
}

button:hover{
    background-color: azure;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .0}
  to {opacity: 1}
}